*.log
*.pot
*.pyc
.idea/workspace.xml
.idea/tasks.xml

venv/

staticfiles/*
!staticfiles/delete.me
!staticfiles/data/

staticfiles/data/*
!staticfiles/data/download_these_files.txt

app/static/data/*
!app/static/data/download_these_files.txt

mediafiles/*/
!mediafiles/delete.me

logs/*/
!logs/delete.me

local/
