{% extends "job/job_base.html" %}
{% load staticfiles %}

{% block title %}PCoA of Representative OTUs for Job #{{ job.id }}{% endblock %}
{% block job_page %}
  <h2>PCoA Plot of Representative OTUs</h2>
  
  <p>
    The clusterability of the sample against the selected environments is
    confirmed by visually inspecting Principal Coordinate Analysis (PCoA) plots.
    The first option (default) of Ecosystem clusters samples on the basis of
    Ecosystem definition, while the second option clusters samples on the basis
    of EnvO(s). User Sample is given "Unknown" identity. Hover mouse on PCs to
    understand the Environmental Context.
  </p>

{% endblock %}
