#brand-image {
  max-height: 20px;
}

#id_otu_text {
  width: 100%;
  font-family: monospace;
  font-size: 12px;
}

#plot {
  overflow-x: scroll;
}

#table-dashboard thead {
  background-color: #666666;
  color: #FFFFFF;
}

#table-dashboard th {
  vertical-align: top;
}

#dashboard-paginator ul {
  margin: 12px 0 0 0;
}

.jumbo {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 120px;
  background: #EEEEEE;
}

.loader-xs {
  width: 15px;
  height: 15px;
}

.loader-sm {
  width: 30px;
  height: 30px;
}

.loader-md {
  width: 60px;
  height: 60px;
}

.td-btn {
  text-align: center;
}

.btn-job {
  border-radius: 30px;
  font-size: 12px;
  padding: 4px 6px 2px;
}

.container-page {
  padding-bottom: 60px;
}

.container-footer {
  padding: 30px 0 30px;
  background: #F1F1F1;
}

.errorlist {
  color: #e74c3c;
  list-style-type: none;
  padding-left: 0;
}

.nav-divider-custom {
  background-color: #ffffff;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  text-transform: uppercase;
}

.criterion::after {
  content: ",";
}

.criterion:last-child::after {
  content: "";
}

.plot-container {
  position: relative;
}

.btn-control {
  margin-top: 15px;
}

.card {
  box-shadow: 1px 1px 1px #CCCCCC;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #E0E0E0;
}

.glyphicon-sm {
  font-size: 0.75em;
  font-weight: normal;
}

.alert a {
  text-decoration: underline;
}

.axis path,
.axis line,
.line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.tick line {
  shape-rendering: crispEdges;
  stroke: #000;
}

line.minor {
  stroke: #777;
  stroke-dasharray: 2, 2;
}

.caption {
  font-weight: bold;
}

.legend-box {
  cursor: pointer;
}

.mpld3-tooltip {
  background: #FFFF66;
  padding: 10px;
  width: 300px;
}

.ranking-barcharts-section.hidden {
  display: none;
}

div.tooltip.d3 {
  position: absolute;
  text-align: left;
  pointer-events: none;
  padding: 10px;
  white-space: pre-wrap;
}

div.tooltip.d3::after {
  width: 0;
  height: 0;
  background: #fff;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #FF6666;
  border-right: 4px solid #FFFF66;
  border-left: 4px solid #FF6666;
  border-bottom: 4px solid #FFFF66;
}

/* GENERAL LOADER CSS */
@keyframes blink {
  50% {
    color: transparent
  }
}

.loading-text {
  font-size: 1.125em;
}

.loading-ellipsis {
  animation: 1s blink infinite
}

.loading-ellipsis:nth-child(2) {
  animation-delay: 250ms
}

.loading-ellipsis:nth-child(3) {
  animation-delay: 500ms
}

/* PLACEHOLDER CSS */
@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

table.tablesorter thead tr {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter .header:hover {
  text-decoration: underline;
}

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: rotate(180deg) translate(0, 2px);
}

.headerSortDown .caret {
  display: none;
}

.headerSortUp .caret-up {
  display: none;
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 132px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
}

.background-masker.placeholder-header {
  top: 0px;
  left: 250px;
  height: 24px;
  width: calc(100% - 250px);
}

.background-masker.placeholder-subheader {
  top: 28px;
  left: 320px;
  height: 14px;
  width: calc(100% - 320px);
}

.background-masker.placeholder-details {
  top: 54px;
  left: 280px;
  height: 14px;
  width: calc(100% - 280px);
}

.background-masker.placeholder-break-details,
.background-masker.placeholder-break-header,
.background-masker.placeholder-break-subheader {
  left: 0px;
  width: 100%;
}

.background-masker.placeholder-break-header {
  top: 24px;
  height: 4px;
}

.background-masker.placeholder-break-subheader {
  top: 42px;
  height: 12px;
}

.background-masker.placeholder-break-details {
  top: 68px;
  height: 12px;
}

.background-masker.placeholder-envo-1,
.background-masker.placeholder-envo-2 {
  top: 80px;
  height: 52px;
  width: 30px;
}

.background-masker.placeholder-envo-1 {
  top: 80px;
  height: 52px;
  left: 33%;
  width: 30px;
}

.background-masker.placeholder-envo-2 {
  top: 80px;
  height: 52px;
  left: 66%;
  width: 30px;
}
