{% extends 'app/layout.html' %}

{% block title %}Contact Us{% endblock %}
{% block content %}
  <h1>Contact</h1>
  <p>
    We protect our e-mail addresses for your privacy and ours. For any queries, contact us by via the e-mail addresses below:
  </p>
  <address>
    <strong>Andreas Henschel</strong><br>
    Associate Professor, Dept. of Computer Science<br>
		Khalifa University, Abu Dhabi, UAE<br>
    <a href="https://mailhide.io/e/4MMUj" onclick="mailhidepopup=window.open('https://mailhide.io/e/4MMUj','mailhidepopup','width=580,height=635'); return false;">a......@ku.ac.ae</a>
  </address>
  <address>
    <strong>Muhammad Zohaib Anwar</strong><br>
    PhD Student, Dept. of Environmental Science<br>
    Aarhus University, Denmark<br>
    <a href="https://mailhide.io/e/UDBcy" onclick="mailhidepopup=window.open('https://mailhide.io/e/UDBcy','mailhidepopup','width=580,height=635'); return false;">m......@envs.au.dk</a>
  </address>
  <address>
    <strong>Syafiq Kamarul Azman</strong><br>
    Research Engineer, Dept. of Computer Science<br>
    Khalifa Univeristy, Abu Dhabi, UAE<br>
    <a href="https://mailhide.io/e/tGb5B" onclick="mailhidepopup=window.open('https://mailhide.io/e/tGb5B','mailhidepopup','width=580,height=635'); return false;">m......@ku.ac.ae</a>
  </address>

{% endblock %}
