{% extends 'app/layout.html' %}

{% block title %}Contact Us{% endblock %}
{% block content %}
  <h1>Contact</h1>
  <p>
    For queries contact us:
  </p>
  <address>
    <strong>Andreas Henschel</strong><br>
    Assistant Professor, EECS, iSmart,<br>
		Masdar Institute of Science and Technology, Abu Dhabi<br>
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01JjURBCASk4Ys52B0d6n96Q==&amp;c=vMAZYRwjsJzpvCJeutY69N7gdayN8e-gDEEJvvuTM_s=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01JjURBCASk4Ys52B0d6n96Q\x3d\x3d\x26c\x3dvMAZYRwjsJzpvCJeutY69N7gdayN8e-gDEEJvvuTM_s\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">a...</a>@masdar.ac.ae
  </address>
  <address>
    <strong>Vimitha Manohar</strong><br>
    Research Assistant, EECS, iSmart,<br>
		Masdar Institute of Science and Technology, Abu Dhabi<br>
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01fpqApx9cfJOZSZqmhXDblA==&amp;c=-hhvlXCyCWUdwk1s8heUqSW_GmtGkLn7_4dsn6PhEmc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01fpqApx9cfJOZSZqmhXDblA\x3d\x3d\x26c\x3d-hhvlXCyCWUdwk1s8heUqSW_GmtGkLn7_4dsn6PhEmc\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">v...</a>@masdar.ac.ae
  </address>
  <address>
    <strong>Muhammad Zohaib Anwar</strong><br>
    Research Engineer, EECS, iSmart,<br>
		Masdar Institute of Science and Technology, Abu Dhabi<br>
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01JjURBCASk4Ys52B0d6n96Q==&amp;c=MjzO4QMwWCYW4k9k1sk6yKnornJOV4Z3sCPXEu6L8D0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01JjURBCASk4Ys52B0d6n96Q\x3d\x3d\x26c\x3dMjzO4QMwWCYW4k9k1sk6yKnornJOV4Z3sCPXEu6L8D0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">m...</a>@masdar.ac.ae
  </address>
  <address>
    <strong>Syafiq Kamarul Azman</strong><br>
    Master's Student, EECS, iSmart,<br>
    Masdar Institute of Science and Technology, Abu Dhabi<br>
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01c5a4Y-1JQ4DcuUCFGXJlmQ==&amp;c=D79ez_sDyi7elyJZm0sRkGC-cXX_s2TL_tjHUvl5Ycg=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01c5a4Y-1JQ4DcuUCFGXJlmQ\x3d\x3d\x26c\x3dD79ez_sDyi7elyJZm0sRkGC-cXX_s2TL_tjHUvl5Ycg\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">m...</a>@masdar.ac.ae
  </address>

{% endblock %}
