{% extends 'app/layout.html' %}
{% block content %}
  <h1>Contact</h1>
  <p>
    For queries contact us:
  </p>
  <address>
    <strong>Andreas Henschel</strong><br>
    Assistant Professor, EECS, iSmart,<br>
		Masdar Institute, Abu Dhabi<br>
    <a href="mailto:#">ahenschel@masdar.ac.ae</a>
  </address>
  <address>
    <strong>Vimitha Manohar</strong><br>
    Research Assistant, EECS, iSmart,<br>
		Masdar Institute, Abu Dhabi<br>
    <a href="mailto:#">vmanohar@masdar.ac.ae</a>
  </address>
  <address>
    <strong>Muhammad Zohaib Anwar</strong><br>
    Research Engineer, EECS, iSmart,<br>
		Masdar Institute, Abu Dhabi<br>
    <a href="mailto:#">manwar@masdar.ac.ae</a>
  </address>
{% endblock %}