{% extends "app/layout.html" %}
{% load static from staticfiles  %}

{% block title %}Jobs Dashboard{% endblock %}
{% block content %}
  <h2>Dashboard</h2>
  {% if jobs %}
  <h3>Jobs list</h3>
  <table id="table-dashboard" class="table table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th width="14.5%">
          Name
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="8.5%">
          Criteria
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="12%">
          Analysis type
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="10%">
          Status
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="11%">
          Last run time
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="11%">
          Completion time
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="28%">
          Error messages
          <br>
          <span class="caret"></span><span class="caret-up"></span>
        </th>
        <th width="2.5%">
          Remove
        </th>
        <th width="2.5%">
          Re-run
        </th>
  		</tr>
  	</thead>
  	<tbody>
      {% for job in jobs %}
        <tr id="{{job.pk}}" class="job-row">
          <td>
            <a class="btn btn-primary btn-xs" href="{% url 'app:job_details' job.pk %}">
              {{ job.name }}
            </a>
          </td>
          <td>
            {% for criterion in job.criteria.all %}
              <span class="criterion">{{ criterion }}</span>
            {% endfor %}
          </td>
          <td>
            {{ job.get_analysis_type_display }}
            {% if job.analysis_type == job.GNATUNIFRAC %}
              ({{job.range_query_value}})
            {% endif %}
          </td>
          <td class="job-status" data-status-code="{{job.status}}">
            {% if job.status >= job.VALIDATING and job.status < job.COMPLETED %}
              <img class="loader loader-xs" src="{% static 'img/loader.gif' %}" alt="Loader">
            {% endif %}
            <span>{{ job.get_status_display }}</span>
          </td>
          <td class="job-last-run-at">
            {% if job.last_run_at == None %}
              -
            {% else %}
              {{ job.last_run_at|date:"M. d, Y, f A" }}
            {% endif %}
          </td>
          <td class="job-updated-at">
            {% if job.status < 10 %}
              -
            {% else %}
              {{ job.updated_at|date:"M. d, Y, f A" }}
            {% endif %}
          </td>
          <td class="job-error" data-status-code="{{job.error_code}}">
            {{ job.get_error_code_display }}
          </td>
          <td class="td-btn">
            <button data-remove-url="{% url 'app:job_remove' job.pk %}"
                    class="btn btn-danger btn-job btn-job-remove" type="submit">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
          <td class="td-btn">
            <button data-rerun-url="{% url 'app:job_rerun' job.pk %}"
                    class="btn btn-warning btn-job btn-job-rerun
                           {% if job.status >= job.VALIDATING and job.status < job.COMPLETED %}
                             disabled
                           {% endif %}" type="submit">
              <span class="glyphicon glyphicon-step-backward"></span>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% else %}
    <span class="jumbo">
      You have no jobs running or completed.
      Run a new search by clicking "New Search" above
    </span>
  {% endif %}
  </table>

{% endblock %}
