{% extends "app/layout.html" %}
{% block content %}
  <h1>Dashboard</h1>
  <h2>Jobs list</h2>
  <table class="table table-striped table-hover">
  	<thead>
  		<tr>
  			<th>Job ID</th>
  			<th>Status</th>
        <th>Result</th>
  		</tr>
  	</thead>
  	<tbody>
    {% for job in jobs %}
      <tr>
          <td>{{ job.id }}</td>
          <td>
            {% if job.completed %}
              Completed
            {% else %}
              Running
            {% endif %}
          </td>
          <td>
            {% if job.result %}
              <a href="{% url 'app:job_detail' job.id %}">
                {{ job.result }}
              </a>
            {% else %}
              -
            {% endif %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul>

  </ul>

  <form action="/calculate/" method="post" role="form">
    {% csrf_token %}
  	<legend>Calculate n<sup>th</sup> Fibonacci number</legend>

  	<div class="form-group">
  		<label for="number"></label>
  		<input type="number" name="number" class="form-control" id="number"
             placeholder="Input...">
  	</div>

  	<button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}