{% extends "app/layout.html" %}

{% block title %}Jobs Dashboard{% endblock %}
{% block content %}
  <h2>Dashboard</h2>
  <h3>Jobs list</h3>
  <table class="table table-striped table-hover">
  	<thead>
  		<tr>
  			<th>Sample Name</th>
  			<th>Criteria</th>
  			<th>Status</th>
        <th>Start time</th>
        <th>Completion time</th>
        <th>Error messages</th>
        <th>Remove</th>
  		</tr>
  	</thead>
  	<tbody>
    {% for job in jobs %}
      <tr>
        <td>
          <a href="{% url 'app:job_details' job.id %}">
            {{ job.sample_name }}
          </a>
        </td>
        <td>
          {% for criterion in job.criteria.all %}
            <span class="criterion">{{ criterion }}</span>
          {% endfor %}
        </td>
        <td>
          {{ job.get_status_display }}
        </td>
        <td>
          {{ job.created_at }}
        </td>
        <td>
          {% if job.status < 10 %}
            -
          {% else %}
            {{ job.updated_at }}
          {% endif %}
        </td>
        <td>
          {{ job.get_error_code_display }}
        </td>
        <td>
          <button data-remove-url="{% url 'app:job_remove' job.id %}" class="btn btn-danger btn-job-remove" type="submit">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
