{% extends 'app/layout.html' %}

{% block title %}Help{% endblock %}
{% block content %}
  <h1>Help</h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            General
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            User data is not available to any other user and confidentiality is
            maintained (with the exception of jobs run on unsecured guest
            accounts, see Guest Accounts)
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingGuest">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGuest" aria-expanded="true" aria-controls="collapseGuest">
            Guest Accounts
          </a>
        </h4>
      </div>
      <div id="collapseGuest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            Users are not required to register to use the services. However,
            upon submitting an anonymous job, a guest account will be created
            for the user and will only be temporarily available. The password
            for any guest account is <code>guest123</code>. All guest accounts
            will be deleted within 24 hours of creation (along with any running
            or completed jobs). To prevent this from happening, simply update
            the details of the guest account. Please update the password since
            all guest accounts have identical passwords.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Input
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>
            Visibiome takes BIOM file as an input. BIOM file can either be in
            Sparse or Dense format. It is designed to be a general-use format
            for biological sample by observation contingency tables. BIOM is a
            recognized standard for the Earth Micro biome Project. Users can use
            Qiime to create a BIOM formatted table after running
            closed-reference OTU picking on sequences against GreenGenes 13_5.
          </p>
          <p>
            Example TSV text:
          </p>
          <pre>
# Constructed from biom file
#OTU ID     S1
O1    0.0
O2    3.0
O3    5.0
O4    4.0
O5    5.0
O6    6.0
O7    5.0
O8    8.0
O9    9.0
O10   1.0
O11   2.0
          </pre>
          <p>
            Example JSON text (output from
            <code>biom-format.Table</code> object using the
            <code>as_json()</code> method):
          </p>
          <pre>
{
  "id": "None",
  "format": "Biological Observation Matrix 1.0.0",
  "format_url": "http://biom-format.org",
  "matrix_type": "sparse",
  "generated_by": "Qiime 1.8.3",
  "date": "2016-07-17T12:36:44.034878",
  "type": null,
  "matrix_element_type": "float",
  "shape": [11, 1],
  "data": [
    [1, 0, 3],
    [2, 0, 5],
    [3, 0, 5],
    // ...
  ],
  "rows": [
    {
      "id": "O1",
      "metadata": null
    },
    {
      "id": "O2",
      "metadata": null
    },
    {
      "id": "O3",
      "metadata": null
    },
    // ...
  ],
  "columns": [
    {
      "id": "S1",
      "metadata": null
    }
  ]
}
          </pre>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Output
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Visibiome has several ways to put the user in an environmental context:
          <ol>
            <li>Ranking</li>
            <li>Heat map</li>
            <li>
              Dendrogram
              <ol class="lower">
                <li>Against 1000 representatives</li>
                <li>Against 250 most similar samples</li>
              </ol>
            </li>
            <li>
              PCoA plots
              <ol class="lower">
                <li>Against 1000 representatives</li>
                <li>Against 250 most similar samples</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            1. Ranking
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <p>
            Ranking has 3 different ways to present the 20 most similar samples
            in our database to the user sample based upon the non-Phylogenetic
            (Bray Curtis) distance. Heat map, Dendrogram, and Tabular format.
            <br>
      		  <em>
              *For heat map and dendrogram please look for their respective
              sections below.
            </em>
          </p>
          <p>
            In tabular format, users can view the 20 most similar samples to the
            uploaded sample. It contains the details for each sample such as
            study title and source, EnvO(s), Ecosystem, and Sample depth. These
            details helps user to characterize his sample and perform more
            specific downstream analysis.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            2. Heatmap
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <p>
            Heatmap enables user to directly view the distance between the
            uploaded sample and others. In the Ranking seciton users can see a
            heatmap with the 20 most similar samples, whereas a broader view of
            250 similar samples can be seen the heat map portion. Hover the
            mouse on each cell to see the distance between the respective cells,
            user sample however will always be first as the heat map is already
            sorted. The color gradient legend helps user to read the result.
            Where 0 denotes the most similar samples and 1 as most distant.
            Value for each cell will always lie between 0 &dash; 1.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            3. Dendrogram
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <p>
            A dendrogram is a tree diagram used to illustrate the arrangement
            of the clusters produced by hierarchical clustering. Each sample
            has color(s) bar to	represent the ecosystem(s) it belongs to,
            simplifying the environmental similarity to the user. Hovering the
            mouse will give the details about the sample and one or more EnvOs
            of the sample further increasing the comprehensiveness of result.
            On the sidebar user can find 2 dendogram options, one is against
        		all the representatives of the reference database (15281 samples)
            while the second is against the 250 most similar samples.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            4. PCoA
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          <p>
            Principal coordinates analysis gives another dimension to understand
            the results. Two different options are given to see the principle
            coordinates against the 250 most similar samples and against all the
            representatives.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            5. Test Example
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          <p>
            If you wish to run an example task to be familiar with the user
            interface, you can
            <a href="{% url 'app:example_job_details' %}">
              view an example result of a pre-run job.
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
