{% extends 'app/layout.html' %}

{% block title %}Help{% endblock %}
{% block content %}
  <h1>Help</h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            General
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            User data is not available to any other user* and confidentiality is
            maintained with the exception of jobs run on unsecured guest
            accounts (see Guest Accounts for more information).
          </p>
          <p>
            <em>
              * We try to provide a secure and private service for registered
              users but due to missed test cases or programming errors, some
              user data may be revealed unintentionally. We encourage users of
              this site to report such findings to the authors so we can
              remedy the problems as soon as possible.
            </em>
          </p>
          <p>
            Visibiome is best experienced with a large resolution screen. We
            recommend at least 1200px-wide screen for proper site rendering.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingGuest">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGuest" aria-expanded="true" aria-controls="collapseGuest">
            Guest Accounts
          </a>
        </h4>
      </div>
      <div id="collapseGuest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            Users are not required to register to use the services. However,
            upon submitting an anonymous job, a guest account will be created
            for the user and will only be temporarily available. The password
            for any guest account is <code>guest123</code>. All guest accounts
            will be deleted within 24 hours of creation (along with any running
            or completed jobs). To prevent this from happening, simply update
            the details of the guest account. Please update the password since
            all guest accounts have identical passwords.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="inputTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#input" aria-expanded="false" aria-controls="input">
            Input
          </a>
        </h4>
      </div>
      <div id="input" class="panel-collapse collapse" role="tabpanel" aria-labelledby="inputTab">
        <div class="panel-body">
          <p>
            Visibiome takes BIOM file as an input. BIOM file can either be in
            Sparse or Dense format. It is designed to be a general-use format
            for biological sample by observation contingency tables. BIOM is a
            recognized standard for the Earth Microbiome Project. Users can use
            Qiime to create a BIOM formatted table after running
            closed-reference OTU picking on sequences against GreenGenes 13.5.
          </p>
          <h4>Sample size limitations</h4>
          <p>
            Visibiome.org allows
            <strong>up to 100 samples for Bray-Curtis and AESA/UniFrac</strong>
            searches while only <strong>up to 10 for GNAT/UniFrac</strong>
            in the interest of timely computation. To compare more user samples,
            please find a download link to the VirtualBox image to run a personal
            deployment of Visibiome and adjust the maximum number of samples as
            needed in the <code>settings/</code> folder.
          </p>
          <p>
            Example TSV text:
          </p>
          <pre>
# Constructed from biom file
#OTU ID     S1
4371191     0.0
126871      3.0
533625      5.0
217471      4.0
834306      5.0
114076      6.0
253428      5.0
544561      8.0
813711      9.0
1827890     1.0
4294883     2.0
          </pre>
          <p>
            Example JSON text (output from
            <code>biom-format.Table</code> object using the
            <code>as_json()</code> method):
          </p>
          <pre>
{
  "id": "None",
  "format": "Biological Observation Matrix 1.0.0",
  "format_url": "http://biom-format.org",
  "matrix_type": "sparse",
  "generated_by": "Qiime 1.8.3",
  "date": "2016-07-17T12:36:44.034878",
  "type": null,
  "matrix_element_type": "float",
  "shape": [11, 1],
  "data": [
    [1, 0, 3],
    [2, 0, 5],
    [3, 0, 5],
    // ...
  ],
  "rows": [
    {
      "id": "253428",
      "metadata": null
    },
    {
      "id": "533625",
      "metadata": null
    },
    {
      "id": "1827890",
      "metadata": null
    },
    // ...
  ],
  "columns": [
    {
      "id": "S1",
      "metadata": null
    }
  ]
}
          </pre>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="outputTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#output" aria-expanded="false" aria-controls="output">
            Output
          </a>
        </h4>
      </div>
      <div id="output" class="panel-collapse collapse" role="tabpanel" aria-labelledby="outputTab">
        <div class="panel-body">
          <p>
            Visibiome has several ways to put the user samples in an
            environmental context. Mainly, the contextualization is done
            through visualizations of a queried sample against the Visibiome
            database samples. These visualizations are generated using
            <a href="https://d3js.org/">d3.js</a> when the user loads the page.
            For the optimal experience, we recommend that users download a
            modern browser which is capable of viewing SVGs and on a computer
            with enough memory to support the large visualizations. Typically a
            recent version of Mozilla Firefox or Google Chrome is more than
            adequate. <em>IE9 and below are unsupported and no guarantees can
            be made for the visualizations appearing properly in those
            browsers.</em>
          </p>
          <p>Available visualizations:</p>
          <ol>
            <li>Ranking with barcharts</li>
            <li>Dendrogram against representatives</li>
            <li>PCoA plots against representatives</li>
          </ol>

          <p>Not all analysis types feature the same visualization options due
            to the limitations of the algorithm in order to trade off for a
            faster search speed. We apologize for the missing visualizations
            and we are actively adding new features to accomodate the shortcomings.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="rankingTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ranking" aria-expanded="false" aria-controls="ranking">
            1. Ranking with barcharts
          </a>
        </h4>
      </div>
      <div id="ranking" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rankingTab">
        <div class="panel-body">
          <p>
            Ranking has 2 different ways to present the most similar samples
            in our database to the user sample based upon the distance measure
            selected by the user when making a query: clade barcharts and
            ranking cards.
          </p>
          <p>
            Visibiome features 3 barcharts, for three different taxonomic
            ranks: phylum, family genus. Each barchart contains clades of the
            samples which are matched (including the user-submitted samples)
            according to each taxonomic rank. These clades are inferred based
            on the GreenGenes ID of the OTUs in the samples. The barcharts
            allow the users to identify the culprits of what is causing the
            samples to match and a higher granularity compared to other plots
            in Visibiome.
          </p>
          <p>
            The ranking cards allow users to view the most similar samples to the
            uploaded samples. It contains the details for each sample such as
            study title and source, EnvO(s), Ecosystem, and Sample depth. These
            details help user to characterize uploaded samples against actual
            samples which can be found in popular microbiome databases and
            perform more specific downstream analysis.
          </p>
          <p>
            <strong>
              Why do I see "No barcharts available for this sample" in my
              ranking page?
            </strong>
            <br>
            <ol>
              <li>We do not currently provide barcharts for Bray-Curtis queries.</li>
              <li>
                Our algorithms have strict bounds on distances and if matched
                samples are much farther than a threshold, we do not consider
                the matched samples as a relevant match and no barcharts are
                drawn for these user samples. When relevant, a maximum of 6
                matches (bars) are shown. Poorly matched results are
                still placed in the ranking table.
              </li>
            </ol>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            2. Heatmap
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <p>
            Heatmap enables user to directly view the distance between the
            uploaded sample and others. In the Ranking seciton users can see a
            heatmap with the 20 most similar samples, whereas a broader view of
            250 similar samples can be seen the heatmap portion. Hover the
            mouse on each cell to see the distance between the respective cells,
            user sample however will always be first as the heatmap is already
            sorted. The color gradient legend helps user to read the result.
            Where 0 denotes the most similar samples and 1 as most distant.
            Value for each cell will always lie between 0 &dash; 1.
          </p>
        </div>
      </div>
    </div> -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="dendrogramTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dendrogram" aria-expanded="false" aria-controls="dendrogram">
            2. Dendrogram
          </a>
        </h4>
      </div>
      <div id="dendrogram" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dendrogramTab">
        <div class="panel-body">
          <p>
            A dendrogram is a tree diagram used to illustrate the arrangement
            of the clusters produced by hierarchical clustering. Each sample
            has colored bar(s) to represent the ecosystem(s) it belongs to,
            simplifying the environmental similarity to the user. Hovering the
            mouse over the leaf nodes will show more details about the sample
            and one or more EnvO label of the samplefor a more comprehensive
            visualization.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="pcoaTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pcoa" aria-expanded="false" aria-controls="pcoa">
            3. PCoA
          </a>
        </h4>
      </div>
      <div id="pcoa" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pcoaTab">
        <div class="panel-body">
          <p>
            Principal coordinates analysis (PCoA) adds another dimension to
            contextualizing the samples. It is hard to visually see how the
            samples cluster together in high dimensional space. Using PCoA, we
            reduce the dimension of the original data down to 2 dimensions
            split into three plots of top 3 most "important" principal
            coordinates. The PCoA plots gives a rough idea how user samples
            cluster against the Visibiome database samples and as well as how
            all the matches cluster together.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="testExampleTab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#testExample" aria-expanded="false" aria-controls="testExample">
            Test Example
          </a>
        </h4>
      </div>
      <div id="testExample" class="panel-collapse collapse" role="tabpanel" aria-labelledby="testExampleTab">
        <div class="panel-body">
          <p>
            If you wish to run an example task to be familiar with the user
            interface, you can
            <a href="{% url 'app:example_job_details' %}">
              view an example result of a pre-run job.
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2>Download Visibiome</h2>
  <p>
    We offer a prepared copy of Visibiome (excluding a few databases to minimize storage size) for
    users to download and use. Visibiome is distributed as a VirtualBox image under Xubuntu 16.04.
    The download link can be found
    <a href="https://s3.amazonaws.com/visibiome-data-files/Visibiome-amd64.vdi.gz">here</a>
    and further information regarding how to download the missing files are attached in a
    README file in the distribution.
  </p>

  <p>
    To install Visibiome,
    <ol>
      <li>extract the <code>.vdi</code> file from the downloaded file,</li>
      <li>Once extracted, run the VM VirtualBox Manager on your computer,</li>
      <li>Create a new virtual machine and a window will appear,</li>
      <li>
        Give the new VM an appropriate name, and set the type to <strong>Linux</strong> and the
        version to <strong>Ubuntu (64-bit)</strong>. Once completed click next,
      </li>
      <li>
        We recommend setting the memory to at least 2048 MB (2GB) although more is advised.
        Once completed click next,
      </li>
      <li>
        For the hard disk, select <strong>User an existing virtual hard disk file</strong>.
        Select the extracted <code>.vdi</code> file and click next,
      </li>
      <li>
        Click finish and you should be able to run the Xubuntu VM. Open a new web browser window
        and Visibiome should appear on the homepage.
      </li>
    </ol>
  </p>

  <p>
    We urge users to read the <code>before-you-start.txt</code> file on the desktop before
    continuing to use Visibiome as some files are still missing from a complete installation of
    Visibiome and needs to be downloaded. It also contains important information regarding
    passwords and access details. Please report any errors you may encounter to the authors of
    Visibiome or to the <a href="https://bitbucket.org/syaffers/visibiome">git repository</a>.
    Contact information can be found in the <a href="{% url 'app:contact' %}">contact page</a>.
  </p>

{% endblock %}
