{% extends 'app/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="home-h1">DARP</h1>
      <h2 class="home-h2">A webserver to Visualize Diversity Against Annotated 16s rRNA Microbial Profiles</h2>
      <p>Analyze your 16s rRNA sample against the reference database.<br>Select a valid choice from the selection criteria below.</p>
      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="usrform">
        <div class="form-group">
          <label for="otu-text" class="col-xs-3 control-label">
            Paste your BIOM table<br>
            <em>Maximum 1 sample</em>
          </label>
          <div class="col-xs-9">
            <textarea name="otu-text" id="otu-text" cols="30" rows="12" class="otu-textarea">Paste OTU table here</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="otu-upload" class="col-xs-3 control-label">or upload your BIOM table</label>
          <div class="col-xs-9">
            <input type="file" name="otu-upload" id="otu-upload" value="">
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="ecosystem" class="col-xs-3 control-label">Select the ecosystem<br><em>All or max 3</em></label>
          <div class="col-xs-9">
            <div class="row">
              <div class="col-xs-4">
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="All_eco" id="All_eco"checked>All Ecosystem</input></label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Freshwater" id="Freshwater"></input>Freshwater</label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Plant" id="Plant"></input>Plant</label></div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Animal_Human" id="Animal_Human"></input>Animal/Human</label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Marine" id="Marine"></input>Marine</label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Geothermal" id="Geothermal"></input>Geothermal</label></div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Anthropogenic" id="Anthropogenic"></input>Anthropogenic</label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Soil" id="Soil"></input>Soil</label></div>
                <div class="checkbox"><label><input type="checkbox" name="ckb[]" value="Biofilm" id="Biofilm"></input>Biofilm</label></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <input type="button" name="submit" id="Submit1" value="Analyze" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}