{% extends 'app/layout.html' %}

{% block title %}Visualize Diversity Against Annotated 16s rRNA Microbial Profiles{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>
        Visibiome <br>
        <small>A webserver to Visualize Diversity Against Annotated 16s rRNA Microbial Profiles</small>
      </h1>
      <p>
        Analyze your 16s rRNA sample against the reference database. Need help?
        Check out the <a href="{% url 'app:help' %}">help pages</a> for
        information on what to submit. You could also
        <a href="{% url 'app:example_job_details' %}">view a pre-run job</a>
      </p>

      {% if user.is_authenticated %}
        <form class="form-horizontal" action="{% url "app:search" %}" method="post" enctype="multipart/form-data" id="biom-search-form">
      {% else %}
        <form class="form-horizontal" action="{% url "app:guest_search" %}" method="post" enctype="multipart/form-data" id="biom-search-form">
      {% endif %}
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.otu_text.name }}" class="col-xs-12 col-sm-3 control-label">{{ form.otu_text.label }}<br>
            <em>Maximum 1 sample (TSV/JSON format)</em>
          </label>
          <div class="col-xs-12 col-sm-9">
            {{ form.otu_text.as_widget }}

            {% if form.otu_text.errors %}
              <ul class="errorlist">
                {% for e in form.otu_text.errors %}
                  <li>{{ e }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <label for="{{ form.biom_file.name }}" class="col-xs-12 col-sm-3 control-label">{{ form.biom_file.label }}<br>
            <em>Maximum 1 sample (TSV/JSON format)</em>
          </label>
          <div class="col-xs-12 col-sm-9">
            {{ form.biom_file.as_widget }}

            {% if form.biom_file.errors %}
              <ul class="errorlist">
                {% for e in form.biom_file.errors %}
                  <li>{{ e }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <hr>
        <div class="form-group">
          <label for="ecosystem" class="col-xs-12 col-sm-3 control-label">Select the ecosystem<br><em>All or max 3</em></label>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              {% for ecosystem in form.criteria %}
                {% if forloop.counter0|divisibleby:3 %}
                  <div class="col-xs-4">
                {% endif %}
                    <div class="checkbox">
                      {{ ecosystem }}
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                {% endif %}
              {% endfor %}

              {% if form.criteria.errors %}
                <ul class="errorlist">
                  {% for e in form.criteria.errors %}
                    <li>{{ e }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-xs-offset-9">
            <input type="submit" name="submit" id="submit" value="Analyze" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
