{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
  <div class="row">
  	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  		<ul class="nav nav-pills nav-stacked">
        <li><span class="nav-divider-custom">Visualization</span></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Heatmap</a></li>
        <li><span class="nav-divider-custom">PCoA</span></li>
        <li><a href="#">Representatives</a></li>
        <li><a href="#">250 Most Similar</a></li>
        <li><span class="nav-divider-custom">Dendrogram</span></li>
        <li><a href="#">Representatives</a></li>
        <li><a href="#">250 Most Similar</a></li>
      </ul>
  	</div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h1>Job {{ job.id }}</h1>
      <p>
        <strong>Input:</strong>
        {% if input_type %}
          <a href="{% static input %}">{{ input }}</a>
        {% else %}
          <pre>{{ input }}</pre>
        {% endif %}
      </p>
      <p>
        <strong>Output:</strong>
      </p>
      <p>
        <strong>Criteria:</strong> {{ criteria }}
      </p>
      <p>
        <strong>Started on:</strong> {{ job.created_at }}
      </p>
      <p>
        <strong>Completed on:</strong>
      </p>
    </div>
  </div>

{% endblock %}
