{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Page Description">
    <meta name="author" content="syafiq">
    <title>Visibiome - {% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="{% url 'app:index' %}">Visibiome</a>
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'app:dashboard' %}">
                  <span class="glyphicon glyphicon-tasks"></span>
                  Dashboard
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'app:contact' %}">
                <span class="glyphicon glyphicon-envelope"></span>
                Contact
              </a>
            </li>
            <li>
              <a href="{% url 'app:tutorial' %}">
                <span class="glyphicon glyphicon-pencil"></span>
                Tutorial
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user"></span>
                  Signed in as <strong>{{ user.username }}</strong>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'app:update_details' %}">Update Details</a></li>
                  <li role="separator" class="divider"></li><!-- divider -->
                  <li><a href="{% url 'app:logout' %}">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{% url 'app:register' %}">Register</a></li>
              <li><a href="{% url 'app:login' %}">Login</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>

      <div class="container container-page" id="content-top">
        {% if flash %}
          {% for msg in flash %}
            <div class="alert alert-{{ msg.tags }}">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ msg }}
            </div>
          {% endfor %}
        {% endif %}
        {% if user.is_authenticated and user.guest.status %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            You are using a guest account. Started or completed job(s) may not
            be permanently saved unless you update your details
          </div>
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>

      <footer class="container-footer">
        <div class="container">
          <div class="row footer padded-top padded-bottom">
            <div class="col-xs-9">
              <p class="text-sm">
                The DARP project is under the direction of Dr. Andreas Henschel
                and is funded through the Masdar Institute Research Grant.
                Unless otherwise stated, all material &copy; 2014 Department of
                Electrical Engineering and Computer Science,
                Institute Center Smart Infrastructure (iSmart),
                Masdar Institute, Abu Dhabi, UAE.
              </p>

            </div>
            <div class="col-xs-3">
              <img class="img-responsive" src="{% static 'img/masdar_logo.png' %}" alt="Masdar Insitute Logo">
            </div>
          </div>
        </div>
      </footer>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      {% block lazy_js %}

      {% endblock %}
    </body>
</html>
