{% extends 'app/layout.html' %}

{% block title %}Page not found{% endblock %}
{% block content %}
  <h1>Page not found</h1>
  <blockquote>
    Were you looking for an old job or just started randomly typing URLs to
    achieve something?
  </blockquote>
  <blockquote>
    If it is the former then chances are you might have
    deleted the job or if you are using a guest account, we have deleted it for
    you.
  </blockquote>
  <blockquote>
    If it is the latter, well, there's nothing to see here, obviously. No
    really. Maybe go back home and see if you can find your answers there. Oh
    look, there is a help page above! That might help you find your answers.
  </blockquote>
{% endblock %}
